.ph_log-list {
    border-left: 1px solid #0c5460;
    background: rgba(0, 0, 0, 0.05);
}

.ph_log-list li:nth-child(2n) {
    /*background: rgba(0, 0, 0, 0.025);*/
}

.ph_log-list-key {
    font-weight: 700;
    display: inline-block;
    min-width: 9em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}